In [1]:
import pandas as pd
data1 = pd.read_excel('附件1-商家历史出货量表.xlsx')

In [2]:
data1.shape

(331336, 5)

In [3]:
data1.head()

   seller_no   product_no warehouse_no       date  qty
0  seller_19  product_448        wh_30 2023-05-09   10
1  seller_19  product_448        wh_30 2023-04-17   14
2  seller_19  product_448        wh_30 2023-01-09    2
3  seller_19  product_448        wh_30 2023-01-20    1
4  seller_19  product_448        wh_30 2023-02-13   22

In [4]:
data1.date.value_counts().sort_index()

date
2022-12-01    1996
2022-12-02    1996
2022-12-03    1996
2022-12-04    1996
2022-12-05    1996
              ...
2023-05-11    1996
2023-05-12    1996
2023-05-13    1996
2023-05-14    1996
2023-05-15    1996
Name: count, Length: 166, dtype: int64

In [5]:
data3 = pd.read_excel('附件3-商家信息表.xlsx')

In [6]:
data3.shape

(37, 4)

In [7]:
data3.head()

  seller_no seller_category inventory_category seller_level
0  seller_1            居家生活                  B          New
1  seller_2              厨具                  A        Large
2  seller_3              厨具                  A        Large
3  seller_4            家居日用                  A        Large
4  seller_5            家居日用                  B        Large

In [8]:
data4 = pd.read_excel('附件4-仓库信息表.xlsx')

In [9]:
data4.shape

(56, 3)

In [10]:
data4.head()

  warehouse_no warehouse _category warehouse _region
0         wh_1                 中心仓                华东
1        wh_10                 区域仓                华北
2        wh_11                 区域仓                华中
3        wh_12                 区域仓                华北
4        wh_13                 区域仓                华南

In [11]:
data1['seller_no'].value_counts().shape

(35,)

In [12]:
data1['warehouse_no'].value_counts().shape

(54,)

In [13]:
ret = []
for i in data1['seller_no'].value_counts().index:
    for j in data1['warehouse_no'].value_counts().index:
            ret.append(data1[(data1['seller_no'] == i) & (data1['warehouse_no'] == j)])

In [18]:
ret1 = []
for i in ret: 
    if i.shape[0] > 0:
        ret1.append(i)

In [27]:
k = 0
for i in ret1:
    for j in i['product_no'].value_counts().index:
        i[(i['product_no'] == j)].to_csv(f'time/time{k}.csv')
        k += 1